#mw-page-base,
#mw-head-base,
#footer {
    display: none;
}

#siteSub,
#contentSub,
#jump-to-nav {
    display: none;
}

.mw-editsection,
sup.reference {
    display: none;
}

.reflist,
.reflist~*,
#catlinks {
    display: none !important;
}

.noprint {
    display: none;
}

#mw-head {
    display: none;
}

#mw-panel .portal {
    display: none;
}

#mw-panel {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: calc(50% - 625px);
    width: 250px;
    overflow: auto;
    border: 0;
    background: none;
    min-height: 100%;
    padding: 1rem;
    border-right: 1px solid #ddd;
    z-index: -1;
}

#p-logo,
#p-logo a {
    width: 100%;
}