body {
    /* background: red !important; */
    margin-left: 250px !important;
}

#toc {
    width: 250px;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

#mw-page-base,
#mw-head-base,
#mw-navigation,
#footer {
    display: none;
}

#siteSub,
#contentSub,
#jump-to-nav {
    display: none !important;
}

#content {
    margin: 0 auto;
    max-width: 1200px;
    border: none;
    padding: 3rem;
}

#toc {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
    border: 0;
    padding: 1rem;
    background: #eee;
    min-height: 100%;
    padding: 1rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

#toc:before {
    content: '';
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/icon-128.png);
    width: 100%;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem;
}

.mw-editsection,
sup.reference {
    display: none;
}

.hatnote {
    margin: 0;
    padding: .5rem !important;
    background: #eee;
    border: none;
    border-left: .25rem solid #0366d6;
    margin-bottom: 1rem !important;
    font-style: normal !important;
}

a {
    color: #0366d6 !important;
}

.infobox {
    margin-top: 0 !important;
}

.reflist,
.reflist~*,
#catlinks {
    display: none !important;
}

.toctoggle {
    font-size: 0 !important;
}

.toctoggle .togglelink {
    text-decoration: none;
    color: inherit !important;
    margin-left: -.25rem;
}

.toctoggle .togglelink::before {
    content: '🔽';
    font-size: 16px;
    display: inline-block;
}

.tochidden .toctoggle .togglelink::before {
    transform: rotate(180deg);
}

table.ambox {
    margin: 0 !important;
    margin-bottom: 1rem !important;
}

table.ambox-content {
    border: none !important;
    border-left: .25rem solid #f28500 !important;
    background: #eee !important;
    padding: .5rem !important;
}

.mbox-image {
    display: none;
}

html code {
    border: none;
    background: #eee;
}

h1 {
    padding-bottom: 0.3em !important;
    font-size: 2em !important;
    border-bottom: 1px solid #eaecef !important;
}

h2 {
    padding-bottom: 0.3em !important;
    font-size: 1.5em !important;
    border-bottom: 1px solid #eaecef !important;
}

h1,
h2,
h3,
h4 {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
}

h3,
h4 {
    font-size: 1.25em !important;
}

html p {
    margin-top: 0;
    margin-bottom: 1rem;
}

html ul {
    list-style-image: none;
}